<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAP__lGErcrULP0n0zNqDjp80lkIGbesiI</string>
	<key>GCM_SENDER_ID</key>
	<string>11586470178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.uzapp.inhaMasjid</string>
	<key>PROJECT_ID</key>
	<string>inha-masjid-app</string>
	<key>STORAGE_BUCKET</key>
	<string>inha-masjid-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11586470178:ios:037eeabfb4cb4d1aff257b</string>
	<key>DATABASE_URL</key>
	<string>https://inha-masjid-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>